@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Alexandria", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2 {
  text-shadow: -1px -1px 0 #a0a0a0, 1px -1px 0 #a0a0a0, -1px 1px 0 #a0a0a0, 1px 1px 0 #a0a0a0;
}

/* @keyframes shake1 {
  0% {
    transform: translate(-3px, 2px) rotate(2deg);
  }
  33% {
    transform: translate(0px, 4px) rotate(-2deg);
  }
  66% {
    transform: translate(3px, 4px) rotate(2deg);
  }
  100% {
    transform: translate(0px, 2px) rotate(-2deg);
  }
} */

/* @keyframes shake2 {
  0% {
    transform: translate(-3px, 2px) rotate(-2deg);
  }
  33% {
    transform: translate(1px, 3px) rotate(-1deg);
  }
  66% {
    transform: translate(3px, 4px) rotate(2deg);
  }
  100% {
    transform: translate(2px, 2px) rotate(1deg);
  }
} */
/* 
@keyframes shake3 {
  0% {
    transform: translate(-3px, 2px) rotate(0deg);
  }
  33% {
    transform: translate(0px, 4px) rotate(3deg);
  }
  66% {
    transform: translate(3px, 4px) rotate(0deg);
  }
  100% {
    transform: translate(0px, 2px) rotate(-3deg);
  }
} */

/* @keyframes shake4 {
  0% {
    transform: translate(-3px, 2px) rotate(-2deg);
  }
  33% {
    transform: translate(-1px, 3px) rotate(-3deg);
  }
  66% {
    transform: translate(2px, 3px) rotate(3deg);
  }
  100% {
    transform: translate(0px, 2px) rotate(1deg);
  }
} */

/* @keyframes shake5 {
  0% {
    transform: translate(-3px, 2px) rotate(-1deg);
  }
  33% {
    transform: translate(0px, 4px) rotate(2deg);
  }
  66% {
    transform: translate(3px, 4px) rotate(-2deg);
  }
  100% {
    transform: translate(0px, 2px) rotate(1deg);
  }
} */
